// .boxshadow {
//   position: relative;
//   -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
//   -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
//   box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
//   padding: 10px;
//   background: $color-initial;
  
//   &::after {
//     content: '';
//     position: absolute;
//     z-index: -1; /* hide shadow behind image */
//     -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
//     -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
//     box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);        
//     width: 70%; 
//     left: 15%; /* one half of the remaining 30% */
//     height: 100px;
//     bottom: 0;
//   }
// }

.bordershadow {
  margin-top: 5rem;

  width: 80%;
  line-height: 70px;
  text-align: center;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
  background-color: $color-initial;
  color: $color-accent;
  
  &:hover {
    background-color: $color-initial;
    color: $color-accent;
    font-weight: bold;
    box-shadow: 0 0 6px rgba(35, 173, 255, 1);
  }
}