.bordershadow {
  text-align: center;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-out;
  background-color: $color-initial;
  color: $color-accent;
  
  &:hover {
    background-color: $color-initial;
    color: $color-accent;
    font-weight: bold;
    box-shadow: 0 0 6px rgba(35, 173, 255, 1);
  }
}

.btn-block {
  margin: 5rem 0;
  line-height: 70px;
}

@media (min-width : 768px) {
  .btn-block {
    margin: 5rem 0 0 0;
  }
}