.pricing-box {
  border-radius: 20px 0px;
  padding: 40px 0px;
  text-align: center;
  margin: 4rem 0;

  h1 {
    font-size: 1.75rem;
    padding: 10px;
    letter-spacing: 0.5rem;
  }

  .pricing-box-body {
    padding: 10px;

    .price {
      font-size: 4rem;
      
      sup, sub {
        font-size: 1.5rem;
      }
    }
  }

  .btn {
    // margin: 4rem 0;
    line-height: 70px;
    width: 75%;
  }
  
  @media (min-width : 768px) {
    .btn {
      margin: 2rem 0;
    }
  }

  &.pricing-box-left {
    border: 1px solid purple;
    background-color: #fff;
    margin-top: 40px;
  }

  &.pricing-box-center {
    border: 3px solid tomato;
    background-color: #fff;
  }

  &.pricing-box-right {
    border: 1px solid gray;
    background-color: #fff;
    margin-top: 40px;
  }
}