@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway&display=swap');

/* variables */
$white: #ffffff;

$snow: #f4f7fb;
$darksnow: #d0ddea;

$green: #2fe0c3;
$darkgreen: #1dbfa5;
$orange: #ff6600;
$gray: #cecece;
$lightgray: #f8f8f8;
$darkgray: #333333;
$lightpurple: #8F40FF;
$purple: #B000FF;
$blue: #6699cc;
$red: #ff5151;
$lightred: #ea5252;

$azul-fraco: #7c92ab;
$azul-doido: #34495E;

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

/* general */
body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;

  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
}

h1 {
  margin-bottom: 25px;

  font-size: 3em;
  color: $azul-doido;

  .badge {
    background-color: $azul-doido;
  }
}

h2 {
  margin-bottom: 25px;

  font-size: 1.6em;
  color: $darkgray;
}

/* navbar */
.navbar {
  border-top: 4px solid $azul-doido;
  border-bottom: 1px solid $gray;

  box-shadow: 0px 2px 10px #dddddd;
  margin-bottom: 20px;

  /*padding: 10px;*/

  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.7em;

    .logo-net {
      color: $green;
    }

    .logo-net-admin {
      color: $lightred;
    }
  }

}

.navbar-admin {
  border-top: 4px solid $lightred;
}

.colabore {
  margin-top: 20px;
}

.alert-colabore {
  margin: 20px 0px;

  &:hover {
    border: 2px dashed red;
    background-color: rgba(255, 0, 0, 0.21);
  }
}

.icon-green {
  color: $green;
}

footer {
  background-color: $azul-doido;
  color: $azul-fraco;

  padding-top: 20px;

  h5 {
    font-size: 16px;
    color: $azul-fraco;
  }

  ul {
    li {
      margin-bottom: 10px;
    }
  }

  hr {
    border-top: 1px solid $azul-fraco;
  }

  a {
    color: $snow;

    &:hover {
      color: $darksnow;
      text-decoration: none;
    }
  }

  img.twitter {
    background-color: $white;
    border-radius: 20px;
    padding: 9px;
    height: 40px;
  }
}

/* media query */
/*.col-md-padr-0 { padding-right: 10px; }*/
.content-to-mobile { display: block; };
.content-to-screen { display: none; };

/* tablets, notebooks, etc */
@media (min-width : 768px) {
  .content-to-mobile { display: none; };
  .content-to-screen { display: block; };
  .col-md-padr-0 { padding-right: 0px; }

  body {
    // background-color: #f4f4f4;
  }

  .navbar {
    margin-bottom: 10px;
  }

  .content-box {
    background-color: $white;
    padding: 20px;
    // border: 1px solid #E7E7E7;

    section {
      margin-top: 100px;
    }
  }
}



.alert-default {
  background-color: $lightgray;
}

.nav-tabs {
  margin-bottom: 20px;
}

.badge-success {
  background-color: $green;
}

.badge-lg {
  padding: 7px 14px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #85b200;
  margin-bottom: 20px;
}

.has-success .form-control {
  background-color: rgba(60, 118, 61, 0.2);
}

article {
  box-shadow: 0px 2px 10px #dddddd;
  margin-bottom: 40px;
  border-radius: 4px;
  padding: 20px;
}