@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway&display=swap');

@import '_color';
@import '_post';
@import '_button';
@import '_footer';
@import '_navbar';

body {
  font-family: 'Raleway';
}

.icon {
  max-width: 30px;
  margin-right: 1rem;
}

.area {
  padding: 5rem 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;

  span {
    border-bottom: 4px solid $color-primary;
  }
}

h1 {
  margin: 2rem 0 5rem 0;
  font-size: 3rem;
  color: $color-accent;

  a {
    color: $color-accent;

    &:hover {
      color: $color-secondary;
      text-decoration: none;
    }
  }
}

h2 {
  margin-bottom: 10rem;
}

p, li {
  font-size: 1.5rem;
}

.area-info {
  padding: 5rem 0;
}

.img-fluid {
  width: 70%;
}
