---
layout: page
title: Blog
---

<div class="post">

  {% for post in paginator.posts %}
  <article>
    <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

    {{ post.content | split:'<!--break-->' | first | markdownify }}

    {% if post.content contains '<!--break-->' %}
      <br><p><a href="{{ post.url }}" class="link-read-later">Clique aqui e continue lendo este texto</a></p>
    {% endif %}
  </article>
      
  {% endfor %}

  <ul class="list-inline text-center">
    {% if paginator.previous_page %}
      <li class="list-inline-item">
        <a class="btn btn-outline-info" href="{{ paginator.previous_page_path }}">❮ Página anterior</a>
      </li>
    {% endif %}

    {% if paginator.next_page %}
      <li class="list-inline-item">
        <a class="btn btn-outline-info" href="{{ paginator.next_page_path }}">Próxima página ❯</a>
      </li>
    {% endif %}
  </ul>

</div>